textarea{
  resize: none;
  width: 40em;
  height: 5em;

  @include mq("mobile") {
    width: 100%;
    height: 5em;
  }
}

input, textarea{
  background: transparent;
  border: none;
  font-size: 1.8em;
  color: #fff;

  &:focus{
    outline: none;
  }

  @include mq("mobile") {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px auto;
  }
}

button{
  font-size: 2em;
  background-color: transparent;
  padding: .2em 1.5em;
  margin: .4em;
  border: 1px solid rgba(#fff, .5);
  color: #fff;
  border-radius: 10px;

  &:focus{
    outline: none;
  }
}

.form-contact{
  input{
    width: 25%;
    margin-right: 0;
    @include mq("mobile") {
      width: 100%;
    }
  }
  textarea{
    display: block;
    margin: 1.2em auto;
    width: 50%;
  }
}
