.header-top {
  background: transparent;
  height: 70px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  // box-sizing: border-box;
  @include box-sizing(border-box);

  /* mobile 使用 toggle */
}

.nav-menu{
  display: block;
  margin: 5px auto;
  text-align: center;
  @include text-shadow(rgba(#000, 0.5) 1px 1px 2px, rgba(#000, 0.7) 0 .5px .5px);
  @include mq("mobile") {

    height: 0;
    opacity: 0;
    @include background-image(linear-gradient(0deg, rgba(0,0,0,0.06) 0%, rgba(0,0,0,0.60) 100%));
    @include transition(all 1.5s);
  }


  .is-desk{
    li{
      a{
        opacity: .8;
        @include transition(all .6s ease-in-out);
        // done:20 not working in safari
      }

      &:hover a{
        @include text-shadow(rgba(#000, 0.8) 1px 1px 1px, rgba(#000, 0.9) 0 .5px .5px);
        opacity: 1;
        font-size: 15px;
      }
    }
  }
  li{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin: .3em 1.2em;

    @include mq("mobile") {
      display: block;
      text-align: center;
      margin: .3em auto;
      width: 100%;
    }

  }

  a{
    display: block;
    padding: .5em;
    @include mq("mobile") {
      font-size: 3em;
    }
  }
}

.filter-blur{
  @include filter(blur(3px));
}
