.header-top {
  background: transparent;
  height: 70px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  box-sizing: border-box;

  /* mobile 使用 toggle */
}

.nav-menu{
  display: block;
  margin: 5px auto;
  text-align: center;
  li{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin: .3em 1.2em;
  }

  a{
    display: block;
    padding: .5em;
  }
}
