@font-face {
	font-family: 'iconfont';
	src:url('../fonts/iconfont.eot?6e04p0');
	src:url('../fonts/iconfont.eot?6e04p0#iefix') format('embedded-opentype'),
		url('../fonts/iconfont.ttf?6e04p0') format('truetype'),
		url('../fonts/iconfont.woff?6e04p0') format('woff'),
		url('../fonts/iconfont.svg?6e04p0#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

i, .icomoon-liga {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'iconfont' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-star-empty {
	&:before {
		content: $icon-star-empty;
	}
}
.icon-star-half {
	&:before {
		content: $icon-star-half;
	}
}
.icon-star-full {
	&:before {
		content: $icon-star-full;
	}
}
.icon-heart {
	&:before {
		content: $icon-heart;
	}
}
.icon-heart-broken {
	&:before {
		content: $icon-heart-broken;
	}
}
.icon-warning {
	&:before {
		content: $icon-warning;
	}
}
.icon-notification {
	&:before {
		content: $icon-notification;
	}
}
.icon-question {
	&:before {
		content: $icon-question;
	}
}
.icon-info {
	&:before {
		content: $icon-info;
	}
}
.icon-cancel-circle {
	&:before {
		content: $icon-cancel-circle;
	}
}
.icon-blocked {
	&:before {
		content: $icon-blocked;
	}
}
.icon-cross {
	&:before {
		content: $icon-cross;
	}
}
.icon-checkmark {
	&:before {
		content: $icon-checkmark;
	}
}
.icon-checkmark2 {
	&:before {
		content: $icon-checkmark2;
	}
}
.icon-play3 {
	&:before {
		content: $icon-play3;
	}
}
.icon-pause2 {
	&:before {
		content: $icon-pause2;
	}
}
.icon-stop2 {
	&:before {
		content: $icon-stop2;
	}
}
.icon-backward2 {
	&:before {
		content: $icon-backward2;
	}
}
.icon-forward3 {
	&:before {
		content: $icon-forward3;
	}
}
.icon-first {
	&:before {
		content: $icon-first;
	}
}
.icon-last {
	&:before {
		content: $icon-last;
	}
}
.icon-previous2 {
	&:before {
		content: $icon-previous2;
	}
}
.icon-next2 {
	&:before {
		content: $icon-next2;
	}
}
.icon-eject {
	&:before {
		content: $icon-eject;
	}
}
.icon-volume-high {
	&:before {
		content: $icon-volume-high;
	}
}
.icon-volume-medium {
	&:before {
		content: $icon-volume-medium;
	}
}
.icon-volume-low {
	&:before {
		content: $icon-volume-low;
	}
}
.icon-volume-mute {
	&:before {
		content: $icon-volume-mute;
	}
}
.icon-volume-mute2 {
	&:before {
		content: $icon-volume-mute2;
	}
}
.icon-volume-increase {
	&:before {
		content: $icon-volume-increase;
	}
}
.icon-arrow-up-left2 {
	&:before {
		content: $icon-arrow-up-left2;
	}
}
.icon-arrow-up2 {
	&:before {
		content: $icon-arrow-up2;
	}
}
.icon-arrow-up-right2 {
	&:before {
		content: $icon-arrow-up-right2;
	}
}
.icon-arrow-right2 {
	&:before {
		content: $icon-arrow-right2;
	}
}
.icon-arrow-down-right2 {
	&:before {
		content: $icon-arrow-down-right2;
	}
}
.icon-arrow-down2 {
	&:before {
		content: $icon-arrow-down2;
	}
}
.icon-arrow-down-left2 {
	&:before {
		content: $icon-arrow-down-left2;
	}
}
.icon-arrow-left2 {
	&:before {
		content: $icon-arrow-left2;
	}
}
.icon-command {
	&:before {
		content: $icon-command;
	}
}
.icon-shift {
	&:before {
		content: $icon-shift;
	}
}
.icon-ctrl {
	&:before {
		content: $icon-ctrl;
	}
}
.icon-opt {
	&:before {
		content: $icon-opt;
	}
}
.icon-checkbox-checked {
	&:before {
		content: $icon-checkbox-checked;
	}
}
.icon-checkbox-unchecked {
	&:before {
		content: $icon-checkbox-unchecked;
	}
}
.icon-radio-checked {
	&:before {
		content: $icon-radio-checked;
	}
}
.icon-radio-checked2 {
	&:before {
		content: $icon-radio-checked2;
	}
}
.icon-radio-unchecked {
	&:before {
		content: $icon-radio-unchecked;
	}
}
.icon-section {
	&:before {
		content: $icon-section;
	}
}
.icon-paragraph-left {
	&:before {
		content: $icon-paragraph-left;
	}
}
.icon-paragraph-center {
	&:before {
		content: $icon-paragraph-center;
	}
}
.icon-paragraph-right {
	&:before {
		content: $icon-paragraph-right;
	}
}
.icon-paragraph-justify {
	&:before {
		content: $icon-paragraph-justify;
	}
}
.icon-indent-increase {
	&:before {
		content: $icon-indent-increase;
	}
}
.icon-indent-decrease {
	&:before {
		content: $icon-indent-decrease;
	}
}
.icon-share {
	&:before {
		content: $icon-share;
	}
}
.icon-new-tab {
	&:before {
		content: $icon-new-tab;
	}
}
.icon-embed {
	&:before {
		content: $icon-embed;
	}
}
.icon-embed2 {
	&:before {
		content: $icon-embed2;
	}
}
.icon-terminal {
	&:before {
		content: $icon-terminal;
	}
}
.icon-share2 {
	&:before {
		content: $icon-share2;
	}
}
.icon-mail {
	&:before {
		content: $icon-mail;
	}
}
.icon-mail2 {
	&:before {
		content: $icon-mail2;
	}
}
.icon-mail3 {
	&:before {
		content: $icon-mail3;
	}
}
.icon-mail4 {
	&:before {
		content: $icon-mail4;
	}
}
.icon-google {
	&:before {
		content: $icon-google;
	}
}
.icon-google-plus {
	&:before {
		content: $icon-google-plus;
	}
}
.icon-google-plus2 {
	&:before {
		content: $icon-google-plus2;
	}
}
.icon-google-plus3 {
	&:before {
		content: $icon-google-plus3;
	}
}
.icon-google-drive {
	&:before {
		content: $icon-google-drive;
	}
}
.icon-facebook {
	&:before {
		content: $icon-facebook;
	}
}
.icon-facebook2 {
	&:before {
		content: $icon-facebook2;
	}
}
.icon-facebook3 {
	&:before {
		content: $icon-facebook3;
	}
}
.icon-ello {
	&:before {
		content: $icon-ello;
	}
}
.icon-instagram {
	&:before {
		content: $icon-instagram;
	}
}
.icon-twitter {
	&:before {
		content: $icon-twitter;
	}
}
.icon-twitter2 {
	&:before {
		content: $icon-twitter2;
	}
}
.icon-twitter3 {
	&:before {
		content: $icon-twitter3;
	}
}
.icon-feed2 {
	&:before {
		content: $icon-feed2;
	}
}
.icon-feed3 {
	&:before {
		content: $icon-feed3;
	}
}
.icon-feed4 {
	&:before {
		content: $icon-feed4;
	}
}
.icon-youtube {
	&:before {
		content: $icon-youtube;
	}
}
.icon-youtube2 {
	&:before {
		content: $icon-youtube2;
	}
}
.icon-youtube3 {
	&:before {
		content: $icon-youtube3;
	}
}
.icon-youtube4 {
	&:before {
		content: $icon-youtube4;
	}
}
.icon-twitch {
	&:before {
		content: $icon-twitch;
	}
}
.icon-vimeo {
	&:before {
		content: $icon-vimeo;
	}
}
.icon-vimeo2 {
	&:before {
		content: $icon-vimeo2;
	}
}
.icon-vimeo3 {
	&:before {
		content: $icon-vimeo3;
	}
}
.icon-lanyrd {
	&:before {
		content: $icon-lanyrd;
	}
}
.icon-flickr {
	&:before {
		content: $icon-flickr;
	}
}
.icon-flickr2 {
	&:before {
		content: $icon-flickr2;
	}
}
.icon-flickr3 {
	&:before {
		content: $icon-flickr3;
	}
}
.icon-flickr4 {
	&:before {
		content: $icon-flickr4;
	}
}
.icon-picassa {
	&:before {
		content: $icon-picassa;
	}
}
.icon-picassa2 {
	&:before {
		content: $icon-picassa2;
	}
}
.icon-dribbble {
	&:before {
		content: $icon-dribbble;
	}
}
.icon-dribbble2 {
	&:before {
		content: $icon-dribbble2;
	}
}
.icon-dribbble3 {
	&:before {
		content: $icon-dribbble3;
	}
}
.icon-forrst {
	&:before {
		content: $icon-forrst;
	}
}
.icon-forrst2 {
	&:before {
		content: $icon-forrst2;
	}
}
.icon-deviantart {
	&:before {
		content: $icon-deviantart;
	}
}
.icon-deviantart2 {
	&:before {
		content: $icon-deviantart2;
	}
}
.icon-steam {
	&:before {
		content: $icon-steam;
	}
}
.icon-steam2 {
	&:before {
		content: $icon-steam2;
	}
}
.icon-dropbox {
	&:before {
		content: $icon-dropbox;
	}
}
.icon-onedrive {
	&:before {
		content: $icon-onedrive;
	}
}
.icon-github {
	&:before {
		content: $icon-github;
	}
}
.icon-github2 {
	&:before {
		content: $icon-github2;
	}
}
.icon-github3 {
	&:before {
		content: $icon-github3;
	}
}
.icon-github4 {
	&:before {
		content: $icon-github4;
	}
}
.icon-github5 {
	&:before {
		content: $icon-github5;
	}
}
.icon-wordpress {
	&:before {
		content: $icon-wordpress;
	}
}
.icon-wordpress2 {
	&:before {
		content: $icon-wordpress2;
	}
}
.icon-joomla {
	&:before {
		content: $icon-joomla;
	}
}
.icon-blogger {
	&:before {
		content: $icon-blogger;
	}
}
.icon-blogger2 {
	&:before {
		content: $icon-blogger2;
	}
}
.icon-tumblr {
	&:before {
		content: $icon-tumblr;
	}
}
.icon-tumblr2 {
	&:before {
		content: $icon-tumblr2;
	}
}
.icon-yahoo {
	&:before {
		content: $icon-yahoo;
	}
}
.icon-tux {
	&:before {
		content: $icon-tux;
	}
}
.icon-apple {
	&:before {
		content: $icon-apple;
	}
}
.icon-finder {
	&:before {
		content: $icon-finder;
	}
}
.icon-android {
	&:before {
		content: $icon-android;
	}
}
.icon-windows {
	&:before {
		content: $icon-windows;
	}
}
.icon-windows8 {
	&:before {
		content: $icon-windows8;
	}
}
.icon-soundcloud {
	&:before {
		content: $icon-soundcloud;
	}
}
.icon-soundcloud2 {
	&:before {
		content: $icon-soundcloud2;
	}
}
.icon-skype {
	&:before {
		content: $icon-skype;
	}
}
.icon-reddit {
	&:before {
		content: $icon-reddit;
	}
}
.icon-linkedin {
	&:before {
		content: $icon-linkedin;
	}
}
.icon-linkedin2 {
	&:before {
		content: $icon-linkedin2;
	}
}
.icon-lastfm {
	&:before {
		content: $icon-lastfm;
	}
}
.icon-lastfm2 {
	&:before {
		content: $icon-lastfm2;
	}
}
.icon-delicious {
	&:before {
		content: $icon-delicious;
	}
}
.icon-stumbleupon {
	&:before {
		content: $icon-stumbleupon;
	}
}
.icon-stumbleupon2 {
	&:before {
		content: $icon-stumbleupon2;
	}
}
.icon-stackoverflow {
	&:before {
		content: $icon-stackoverflow;
	}
}
.icon-pinterest {
	&:before {
		content: $icon-pinterest;
	}
}
.icon-pinterest2 {
	&:before {
		content: $icon-pinterest2;
	}
}
.icon-xing {
	&:before {
		content: $icon-xing;
	}
}
.icon-xing2 {
	&:before {
		content: $icon-xing2;
	}
}
.icon-flattr {
	&:before {
		content: $icon-flattr;
	}
}
.icon-foursquare {
	&:before {
		content: $icon-foursquare;
	}
}
.icon-paypal {
	&:before {
		content: $icon-paypal;
	}
}
.icon-paypal2 {
	&:before {
		content: $icon-paypal2;
	}
}
.icon-paypal3 {
	&:before {
		content: $icon-paypal3;
	}
}
.icon-yelp {
	&:before {
		content: $icon-yelp;
	}
}
.icon-file-pdf {
	&:before {
		content: $icon-file-pdf;
	}
}
.icon-file-openoffice {
	&:before {
		content: $icon-file-openoffice;
	}
}
.icon-file-word {
	&:before {
		content: $icon-file-word;
	}
}
.icon-file-excel {
	&:before {
		content: $icon-file-excel;
	}
}
.icon-libreoffice {
	&:before {
		content: $icon-libreoffice;
	}
}
.icon-html5 {
	&:before {
		content: $icon-html5;
	}
}
.icon-html52 {
	&:before {
		content: $icon-html52;
	}
}
.icon-css3 {
	&:before {
		content: $icon-css3;
	}
}
.icon-git {
	&:before {
		content: $icon-git;
	}
}
.icon-svg {
	&:before {
		content: $icon-svg;
	}
}
.icon-codepen {
	&:before {
		content: $icon-codepen;
	}
}
.icon-chrome {
	&:before {
		content: $icon-chrome;
	}
}
.icon-firefox {
	&:before {
		content: $icon-firefox;
	}
}
.icon-IE {
	&:before {
		content: $icon-IE;
	}
}
.icon-opera {
	&:before {
		content: $icon-opera;
	}
}
.icon-safari {
	&:before {
		content: $icon-safari;
	}
}
.icon-IcoMoon {
	&:before {
		content: $icon-IcoMoon;
	}
}
