.inner-lightbox{
  display: block;
  position: relative;
  width: calc(100% - 80px);
  margin: auto;
  figure{
    display: inline-block;
    @media screen and (max-width: $MQ-mobile){
      width: 40%;
    }
    .lightbox-thumb{
      width: 300px;
      height: 200px;

      @media screen and (max-width: $MQ-mobile){
        width: 100%;
        height: auto;

      }
    }
  }
}

.inner-lightbox--text{
  font-size: 14px;
  margin-top: 1em;
}
