/* SECTION STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section {
  text-align: center;
  background-image: linear-gradient(-214deg, #B4C881 0%, #38A59F 100%);
  overflow: hidden;
  z-index: 5;
}

h2 {
  font-size: 3em;
  margin-bottom: 20px;
  @include mq("mobile") {
    font-size: 2em;
  }
}

h3 {
  font-weight: 300;
  font-size: 2em;
  line-height: 1.3;
}

.wrap{
  max-width: 1180px;
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.box{
  font-size: 14px;
  p{
    font-size: 1.2em;
    text-align: justify;
  }
}

/* SECTION EACH
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#home-section{

  background: rgba(179,220,237,1);
  background: linear-gradient(135deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 72%, rgba(188,224,238,1) 100%);


  img{
    position:absolute;
    left: 40px;
    top: 100px;
  }
  .box{
    position: absolute;
    top: 20%;
    left: 30%;
    margin-top: 50px;
    margin-left: 10px;
    width: 500px;
    z-index: 10;

    @include mq("mobile") {
      @include boxMobile;
    }
  }
  .imgsContainer{
    display: block;
    position: absolute;
    z-index: 10;
    top: 42%;
    left: 58%;
    margin-top: -325px;
    margin-left: -747px;
    width: 800px;
    height: 696px;
  }
  img{
    height: 100%;
  }
}

#about-section{
  background: #1A2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #1A2980 , #26D0CE); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1A2980 , #26D0CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .imgsContainer{
    position:absolute;
    bottom: 0;
    z-index: 10;
  }

  .box{
    position:absolute;
    width: 55%;
    right: 5%;
    margin-top: 90px;
    z-index: 20;
    color: #FFFFFF;
  }

}

#service-section{
  background: #AA076B; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #AA076B , #61045F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #AA076B , #61045F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .box{
    position:absolute;
    width: 55%;
    left: 5%;
    margin-top: 120px;
    z-index: 20;
    color: #FFFFFF;
  }
  .imgsContainer{
    position:absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }

}


#section-contact{
  background: url(../img/BG-5.png) no-repeat center / cover;
  h2{
    text-align: left;
    padding-left: 3em;
    color: rgba(#fff, .8);
  }
}
