.project-list-box{
  width: 86%;
  font-size: 55%;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: $MQ-mobile){
    font-size: 1em;
  }
}

.project-list{
  display: block;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  padding-left: 0;;

}

.project-item{
  border-bottom: 1px solid $gray;
  text-align: right;
  li{
    display: inline-block;
    padding: .2em .5em;
    @media screen and (max-width: $MQ-mobile){
      padding: .5em;
    }

    &:nth-child(1){
      width:60%;
      text-align: left;
      margin-left: 0;
      @media screen and (max-width: $MQ-mobile){
        width: 90%;
      }

    }
    &:nth-child(2){
      width: 30%;
      @media screen and (max-width: $MQ-mobile){
        display: none;
      }
    }
    &:nth-child(3){
      width: 4%;
      @media screen and (max-width: $MQ-mobile){
        display: none;
      }
    }
  }
}


/* pager */
.pager {
    text-align: center;
    margin: 1em 0;
}

.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: rgba($gray-dark, .4);
    color: #fff;
    margin-right: 0.5em;
}

.pager span.active {
    background: $brand;
}
