/* SLIDENAV STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fp-controlArrow{
  opacity: .5;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #24221F;
}

.horizontal-scrolling{
  position: relative;
  .box{
    text-align: center;
    font-size: 55%;
    width: 100%;
    @include text-shadow(rgba(#000, 0.2) 0px 1px 2px);
    color: #FFF;
  }
}

#slide-1{
  background: url("../img/gallery-sea1.jpg") no-repeat center / cover;;
}

#slide-2{
  background: url("../img/gallery-sea2.jpg") no-repeat center / cover;;
}

#slide-3{
  background: url("../img/gallery-cks.jpg") no-repeat center / cover;;
}
