@font-face {
	font-family: 'Noto Sans';
	src:url('../fonts/NotoSansHant-Light.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src:url('../fonts/NotoSansHant-Regular.otf');
	font-weight: bold;
	font-style: normal;
}


body{
  font-family: 'Noto Sans',helvetica, Arial, sans-serif;
}
